/* .App {
  text-align: center;
} */

.App-logo {
  /* height: 40vmin; */
  width: 100vmin;
  
}

.App-logo-container {
  /* height: auto; 
  width: auto; 
  max-width: 30px; 

  background: blue; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .App-header {
  background-color: #877f9c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #e7eb06;
} */


/* //====SIGNUP STYLES=====// */

.SignUp-Container {
  margin: 5%;
  padding: 3%;
  background: rgb(245, 102, 102);
  border-radius: 5px;
}